<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p> Olá, {{name}}</p>
  <p>Ficamos felizes em informar que o cadastro da empresa {{company}} foi realizado com sucesso.</p>
  <p>abaixo constam os dados para acesso com o usuario administrador:</p>
  <br/>
  <p>email = {{email}}</p>
  <p>CNPJ = {{type_value}}</p>
  <p>Senha = {{password}}</p>
  <br/>
  <p>
    <a href="{{link}}">Acessar Plataforma</a>
  </p>
  <p>Agradecemos por confiar em nossos seriços</p>
  <p>Obrigado!
    <br/>
    <strong>Equipe Agility in Solutions</strong>
  </p>
</div>
